.header{
	font-size: 70px;	
}
.line{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.about{
	position:absolute;
	left: 5;
	top:auto;
	height:auto;
	width:30%;
	border-width:1px;
	border-style:solid;
	border-color:grey;
}
.projects{
	position:absolute;
	right: 5;
	top:auto;
	height:auto;
	width:69%;
	border-width:1px;
	border-style:solid;
	border-color:grey;
}
.container{
	
}